* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nunito;
}

.product-details {
  padding: 18px;
  height: 100%;
  & h1 {
    font-size: 40px;
    font-weight: bold;
  }
  & h4 {
    font-size: 26px;
  }
  & h3{
    font-size: 34px;
  }
  & p {
    color: gray;
  }
  & .rating{
    & span{
      font-weight: bold;
      
    } 
  }
  & div {
    margin: 10px 0;
    & .shopping-cart {
      border-radius: 50%;
      height: 50px;
      width: 50px;
      background-color: orange;
    }
    & .buy-now {
      height: 50px;
      width: 150px;
      background-color: rgb(255, 166, 0);
      color: white;
      font-size: 20px;
      font-weight: bold;
    }
  }
}
.related-products{
  border-top: 1px solid gray;
  margin-top: 20px;
  & h4{
    margin-top: 20px;
    font-size: 26px;
    font-weight: bold;
  }
}
