.swiper {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .swiper-slide img {
        display: block;
        max-width: 100%;
        max-height: 400px; /* Limit the size of main slider images */
        object-fit: contain; /* Ensure images keep their aspect ratio */
    }

/* Adjusting the main swiper container */
.mySwiper2 {
    height: 60%;
    width: 100%;
}

/* Thumbnail slider */
.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

    .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
    }

    .mySwiper img {
        display: block;
        max-width: 100%;
        max-height: 100px; /* Limit the size of the thumbnail images */
        object-fit: cover; /* Keep thumbnails proportional */
    }

/* Responsive adjustments */
@@media (max-width: 768px) {
    .swiper-slide img {
        max-height: 200px;
    }

    .mySwiper img {
        max-height: 60px;
    }
}

a {
    text-decoration: none;
    color: black;
}

